* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    width: 400px;
    height: 400px;
    background-color: rgb(216, 220, 220);
    position: absolute;
}

.circle-big {
    width: 12em;
    height: 12em;
    border-radius: 0 0 90% 0% / 0 0 100% 100%;
    background: rgb(5, 119, 45);
    display: block;
}

.triangle {
	width: 0;
	height: 0;
    display: block;
	border-bottom: 100px solid rgb(206, 2, 2); 
	border-left: 100px solid transparent;
    margin: 0 0 300px 300px;
}



.box-line {
    width: 250px;
    height: 30px;
    background-color: rgb(13, 13, 158);
    transform: skew(-50deg, 45deg);
    margin: -10px 0 0px 80px;
}

.circle-small {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: rgb(19, 171, 19);
    margin-left: 200px;
    margin-top: -70px;
    margin-left: 220px;
    position: relative;
}
.straight-line {
    width: 300px;
    height: 80px;
    background-color: rgb(144, 75, 213);
    border-radius: 30px;
    position: relative;
    margin: 17px 0 0 50px;
}